<%= render Avo::PanelComponent.new(name: @dashboard.name, description: @dashboard.description) do |c| %>
  <% c.with_bare_content do %>
    <% if @dashboard.visible_cards.present? %>
      <%= render Avo::CardsComponent.new(cards: @dashboard.visible_cards, classes: @dashboard.classes) %>
    <% else %>
      <div class="w-full h-full">
        <% if Rails.env.development? %>
          <%= render Avo::PanelComponent.new do |c| %>
            <% c.with_body do %>
              <div class="p-6">
                <%= t 'avo.empty_dashboard_message' %>. <%= link_to 'Docs', 'https://docs.avohq.io/2.0/dashboards.html', target: '_blank' %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <%= empty_state message: t('avo.no_cards_present') %>
      </div>
    <% end %>
  <% end %>
<% end %>
